@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

/* --Fonts--
font-family: 'Fjalla One', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'League Gothic', sans-serif;
*/

:root{
    --blue-dark: #080c24;
    --grey-dark: #151e34; 
    --main-blue: #3071e8;
    --main-white: #fff;
    --main-orange: #db8b24;
    --main-font: 'Red Hat Display', sans-serif;
    --secundary-font:'League Gothic', sans-serif;
    --title-font: 'Fjalla One', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--blue-dark);
}

.container{
    max-width: 90%;
    margin: auto;
}
#main-title{
    color: var(--main-white);
    user-select: none;
    transition-duration: 0.5s;
    font-family: var(--title-font);
    font-size: 14PX;
}

#main-title:hover{
    text-shadow: 2px 2px 5px var(--main-orange);
}

nav{
    background-color: var(--blue-dark);
    height: 3rem;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    font-family: var(--secundary-font);
    font-size: 20px;
    z-index: 1;
}

.top-nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-content a{
    padding: 0 20px;
}
#nav-content a:hover{
    color: var(--main-orange);
}

nav a{
    text-decoration: none;
    color: var(--main-white);
}

#social a{  
    font-size: 1.5rem;
}

#cover{
    height: 50vh;
    background-image: url(./img/art2.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(60%);
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cover p{
    font-family: var(--secundary-font);
    text-shadow: 5px 5px 5px var(--grey-dark);
    padding: 1.5rem 0;
    display: flex;
    user-select: none;
}

#cover:hover{
    filter: grayscale(0%);
}

#cover div p{
    color: var(--main-white);
    font-size: 10vh;
}

#cover-buttons{
    display: flex;
    width: 100%;
}

.cover-button-one, .cover-button-two{
    font-family: var(--secundary-font);
    color: var(--main-white);
    font-size: 30px;
    text-decoration: none;
    padding: 10px 20px;
    border: solid 2px var(--main-white);
    border-radius: 50PX;
    width: 100%;
    transition-duration: 0.2s;
}
.cover-button-one:active, .cover-button-two:active{
    transform: scale(0.9);
}

.cover-button-one{
    color: var(--blue-dark);
    background-color: rgba(255, 255, 255, 0.4);
}
.cover-button-one:hover{
    color: var(--main-white);
    background-color: var(--main-blue);
}

.cover-button-two{
    color: var(--main-white);
    background-color: rgba(0, 0, 0, 0.4);
}
.cover-button-two:hover{
    color: var(--blue-dark);
    background-color: var(--main-orange);
}

main{
    color: var(--main-white);
    font-family: var(--main-font)
}

#body-title{
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
    margin-top: 1rem;
}

hr{
    width: 50%;
}

#gallery{
    margin-top: 3rem;
    width: 90%;
    margin-right:auto ;
    margin-left: auto;
}

#cards{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 150px 150px 150px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card img{
    height: ;
}